/*
    Normal font-size:
*/

html, body {
    font-size: 20px;
}

/*
    Main Div: flexbox row wrap
    Direct Children ( > *): 2 per row, border 2px solid black
*/

#mainDiv {
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
}

#mainDiv > * {
    border: 2px solid black;
    margin: 1%;
}

/*
    Direct Children of Main Div: 
    -Profile
    -MostImportantCharacteristics
    -Extras
    -OtherCharacteristics
*/

#profile {
    display: flex;
    flex-flow: row wrap;
    width: 45vw;
    height: auto;
}

#mostImportantCharacteristics {
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    width: 45vw;
}

#extras {
    display: flex;
    flex-flow: column;
    width: 45vw;
}

#otherCharacteristics {
    display: flex;
    flex-flow: row wrap;
    width: 45vw;
}

/*
    Children of Profile:
*/

#profile > * {
    flex: 1;
}

#photoHolder {
    width: 300px;
    height: 250px;
}

#photo {
    width: 160px;
    height: auto;
    margin-left: 25px;
    margin-top: 25px;
}

#addImage {
    font-size: 50px;
}

#addLevel {
    border-radius: 50%;
}

/*
    Children of mostImportantCharacteristics:
*/

#mostImportantCharacteristics input {
    width: 30px;
}

#mostImportantCharacteristics > * {
    margin: 10px;
    width: 30%;
}

/*
    Children of extras:
*/

#extras button {
    text-align: left;
    width: fit-content;
    font-size: 25px;
    margin: 10px 0;
}

.itemCategory {
    color: red;
    margin: 7px 0;
}

.market, .spellPage {
    color: fuchsia;
}

.description {
    font-size: smaller;
    color: darkviolet;
}

.restoreUsesButton {
    color: firebrick;
}

.useButton {
    color: sienna;
}

.tradition {
    color: orangered;
    margin: 5px 0;
}

.spell {
    color: darkgreen;
    margin: 2px 0;
}

/*
    Children of otherCharacteristics:
*/

#otherCharacteristics > * {
    width: 49%;
}